# HOW TO GET THINGS WORKING:
#
# 1 Add environment variables for the various stages here and Rename this file to env.yml and uncomment it's usage in the serverless.yml. I didn't inspire myself in a previous work for this :P

dev:
  APP_NAME: serverless-nodejs-starter

prod:
  APP_NAME: serverless-nodejs
